{% extends 'mybase.html' %}




{% block content %}

    <div class="container">
        <a href="{% url 'blog:blog_create' %}" class="btn btn-primary">Create Blog</a>
        <div class="row">
            <h1>Blog List</h1>
            <!-- Table Comes Here -->
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Featured Photo</th>
                    <th scope="col">DateTime</th>
                    <th scope="col">Category</th>
                    <th scope="col">Status</th>
                    <th scope="col">Author</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                 {% for blog in blogs %}
                 <tr>
                    <th scope="row">{{blog.id}}</th>
                    <td>{{blog.title}}</td>
                    <td>{{blog.description}}</td>
                    <td><img src="{% if blog.photo %}{{blog.photo.url}}{% endif %}" height="100px" width="200px" alt=""></td>
                    <td>{{blog.date}}</td>
                    <td>{{blog.category}}</td>
                    <td>
                        {% if blog.status == 'draft' %}
                        <span class="badge bg-dark text-white">DRAFT</span>
                        {% else %}
                        <span class="badge bg-success text-white">PUBLISHED</span>
                        {% endif %}


                    </td>
                    <td><strong>{{blog.author}}</strong></td>
                    <td>
                       <a href="#" class="btn btn-primary" title="View Detail"> <i class="fa fa-eye"></i> </a>
                       <a href="{% url 'blog:blog_edit' blog.id %}" class="btn btn-warning" title="Edit"> <i class="fa fa-edit"></i> </a>
                       <a href="{% url 'blog:blog_delete' blog.id %}" class="btn btn-danger" title="Delete"> <i class="fa fa-trash"></i> </a>
                    </td>
                  </tr>

                 {% endfor %}
                </tbody>
              </table>
            <!-- Table Ends -->
        </div>
    </div>

{% endblock content %}


