<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div class="my-row">
    <div class="my-col">
        Total Blogs: <strong>{{total_blogs}}</strong>
    </div>
    <div class="my-col">Draft Blogs: <strong>{{draft_blogs}}</strong>
    </div>
</div>
{{blogs}}

{% for blog in blogs %}
<div class="blog-item">
<h1>{{blog.title}}</h1>
<p>{{blog.description}}</p>
<h2>{{blog.date}}</h2>
<hr>
</div>
{% endfor %}


<style>
    .blog-item{
        background-color: rgb(203, 238, 238);
        margin:10px;
    }
    .my-row{
        display: flex;
        align-items: center;
        flex-direction: row;

    }
    .my-col{
        background-color: rgb(29, 183, 29);
        border-radius: 10px;
        margin:10px;
        padding:10px;
        color: white;
        
    }
</style>
</body>
</html>